{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": "current",
      },
    }],
    "@babel/preset-stage-3",
    "@babel/react",
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/transform-flow-strip-types",
    "react-hot-loader/babel",
  ],
}
